Implementaciones/Pago/src/main/resources/co/edu/javeriana/Factura/wsdl/BillService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ABC.com/BillService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillService"
	targetNamespace="http://www.ABC.com/BillService/" xmlns:bil="http://www.ABC.com/schemaBill"
	xmlns:hea="http://www.ABC.com/schemaHeader">
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="../Schemas/schemaBill.xsd"
				namespace="http://www.ABC.com/schemaBill" />
			<xsd:import schemaLocation="../Schemas/schemaHeader.xsd"
				namespace="http://www.ABC.com/schemaHeader" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultaRequest">
		<wsdl:part element="bil:consultarFacturaReq" name="consulta" />
	</wsdl:message>
	<wsdl:message name="consultaResponse">
		<wsdl:part element="bil:consultarFacturaRes" name="consultaRes" />
	</wsdl:message>	
	<wsdl:message name="pagarRequest">
		<wsdl:part element="bil:pagarFacturaReq" name="pagar" />
	</wsdl:message>
	<wsdl:message name="pagarResponse">
		<wsdl:part element="bil:pagarFacturaRes" name="pagarRes" />
	</wsdl:message>		
	<wsdl:message name="compensarRequest">
		<wsdl:part element="bil:compensarFacturaReq" name="compensar" />
	</wsdl:message>
	<wsdl:message name="compensarResponse">
		<wsdl:part element="bil:compensarFacturaRes" name="compensarRes" />
	</wsdl:message>			
	<wsdl:message name="headerReq">
		<wsdl:part element="hea:headerReq" name="headerReq" />
	</wsdl:message>
	<wsdl:message name="headerRes">
		<wsdl:part element="hea:headerRes" name="headerRes" />
	</wsdl:message>
	<wsdl:portType name="BillService">
		<wsdl:operation name="Consultar">
			<wsdl:input message="tns:consultaRequest" />
			<wsdl:output message="tns:consultaResponse" />
		</wsdl:operation>
		<wsdl:operation name="Pagar">
			<wsdl:input message="tns:pagarRequest" />
			<wsdl:output message="tns:pagarResponse" />
		</wsdl:operation>
		<wsdl:operation name="Compensar">
			<wsdl:input message="tns:compensarRequest" />
			<wsdl:output message="tns:compensarResponse" />
		</wsdl:operation>				
	</wsdl:portType>
	<wsdl:binding name="BillServiceBinding" type="tns:BillService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Consultar">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerReq" message="tns:headerReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerRes" message="tns:headerRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Pagar">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerReq" message="tns:headerReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerRes" message="tns:headerRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="Compensar">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerReq" message="tns:headerReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerRes" message="tns:headerRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>			
	</wsdl:binding>
	<wsdl:service name="BillService">
		<wsdl:port binding="tns:BillServiceBinding" name="BillServicePort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
