Contratos/wsdl/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ABC.com/CustomerService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService"
	targetNamespace="http://www.ABC.com/CustomerService/" xmlns:cus="http://www.ABC.com/schemaCustomer"
	xmlns:hea="http://www.ABC.com/schemaHeader">
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="../Schemas/schemaCustomer.xsd"
				namespace="http://www.ABC.com/schemaCustomer" />
			<xsd:import schemaLocation="../Schemas/schemaHeader.xsd"
				namespace="http://www.ABC.com/schemaHeader" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="consultaRequest">
		<wsdl:part element="cus:consultarClienteReq" name="consulta" />
	</wsdl:message>
	<wsdl:message name="consultaResponse">
		<wsdl:part element="cus:consultarClienteRes" name="consultaRes" />
	</wsdl:message>	
	<wsdl:message name="consultaProdRequest">
		<wsdl:part element="cus:consultarProdClienteReq" name="consultaProd" />
	</wsdl:message>
	<wsdl:message name="consultaProdResponse">
		<wsdl:part element="cus:consultarProdClienteRes" name="consultaProdRes" />
	</wsdl:message>		
	<wsdl:message name="headerReq">
		<wsdl:part element="hea:headerReq" name="headerReq" />
	</wsdl:message>
	<wsdl:message name="headerRes">
		<wsdl:part element="hea:headerRes" name="headerRes" />
	</wsdl:message>
	<wsdl:portType name="CustomerService">
		<wsdl:operation name="Consultar">
			<wsdl:input message="tns:consultaRequest" />
			<wsdl:output message="tns:consultaResponse" />
		</wsdl:operation>
		<wsdl:operation name="ConsultarProd">
			<wsdl:input message="tns:consultaProdRequest" />
			<wsdl:output message="tns:consultaProdResponse" />
		</wsdl:operation>		
	</wsdl:portType>
	<wsdl:binding name="CustomerServiceBinding" type="tns:CustomerService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Consultar">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerReq" message="tns:headerReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerRes" message="tns:headerRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConsultarProd">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerReq" message="tns:headerReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerRes" message="tns:headerRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:service name="CustomerService">
		<wsdl:port binding="tns:CustomerServiceBinding" name="CustomerServicePort">
			<soap:address location="http://www.ABC.com/CustomerService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
