Contratos/wsdl/LoginService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ABC.com/LoginService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService"
	targetNamespace="http://www.ABC.com/LoginService/" xmlns:log="http://www.ABC.com/schemaLogin"
	xmlns:hea="http://www.ABC.com/schemaHeader">
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="../Schemas/schemaLogin.xsd"
				namespace="http://www.ABC.com/schemaLogin" />
			<xsd:import schemaLocation="../Schemas/schemaHeader.xsd"
				namespace="http://www.ABC.com/schemaHeader" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="autenticarRequest">
		<wsdl:part element="log:LoginReq" name="autenticarReq" />
	</wsdl:message>
	<wsdl:message name="autenticarResponse">
		<wsdl:part element="log:LoginRes" name="autenticarRes" />
	</wsdl:message>
	<wsdl:message name="headerReq">
		<wsdl:part element="hea:headerReq" name="headerReq" />
	</wsdl:message>
	<wsdl:message name="headerRes">
		<wsdl:part element="hea:headerRes" name="headerRes" />
	</wsdl:message>
	<wsdl:portType name="LoginService">
		<wsdl:operation name="Autenticar">
			<wsdl:input message="tns:autenticarRequest" />
			<wsdl:output message="tns:autenticarResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoginServiceBinding" type="tns:LoginService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Autenticar">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header use="literal" part="headerReq" message="tns:headerReq" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="headerRes" message="tns:headerRes" />
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoginService">
		<wsdl:port binding="tns:LoginServiceBinding" name="LoginServicePort">
			<soap:address location="http://www.ABC.com/LoginService/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
